/*-- scss:defaults --*/

/* Navbar background color */
$navbar-bg: #F7CBE6;

/* Bootstrap primary color (used for buttons, highlights, accents) */
$primary: #7C204F;

/* Link color */
$link-color: #008C9B;

/* Heading color */
$heading-color: #7C204F;



$navbar-fg: #7C204F;